:root {
    --blanco: #ffffff;
    --obsuro: #212121;
    --primario: #FFC107;
    --secundario: #e10000;
    --seleccionado: #9c0000;
    --gris: #757575;
    --grisCaro: #DFE9F3;

}

/* globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--obsuro ) 0%, var(--blanco)100%);/* para difuminar*/
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 78px) {
    .boton {
        width: auto;
    }
}

.boton:hover{
    cursor: pointer;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografia*/
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
    color: #ffffff;
}

h1,
h2,
h3 {
    text-align: center;
}

p {
    font-weight:bold ;
    color: #ffffff;
    padding: 5rem;
}

a {
    color: white;
    text-decoration: none; /* Quita el subrayado */
  }
  
  a:visited {
    color: white;          /* Asegura que el color no cambie al visitar */
  }
  
  a:hover {
    color: #e10000;        /* Color al pasar el cursor */
    text-decoration: underline;
  }

/* titulos */
.titulo span {
    font-size: 2rem;
    color:  #e10000;
}

/* utilidades*/
.w-sm-100{
    width: 100%;
}
/*@media es para hacerlo responsivo (que se acomode cuando cambias tamaño)*/
@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }    
}

.flex{
    display: flex;

}

.alinear-derecha{
    justify-content: flex-end;  
}

/* navegacion prncipal*/
.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {

    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;

}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.navegacion-principal a {
    color: var(--blanco);
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
/* cambia color al poner el cursor en la opcion*/
.navegacion-principal a:hover {
    background-color: var(--seleccionado);
    color: var(--obsuro);

}

/* hero */

@media (max-width: 600px) {
    .contenidohero h2, .contenidohero h3{
        font-size: 1.5rem;
        text-align: center;
        padding: 0 1rem;
    }

    .contenidohero .ubicacion svg{
        width: 90px;
        height: 90px;
    }

    .contenidohero .ubicacion p{
        width: 90px;
    }
}

.hero {
    background-image: url(./reparacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
    z-index: 1;
}

.contenidohero {
    position: absolute;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenidohero h2,
.contenidohero p {
    color: var(--blanco);
    align-content: center;
}

.contenidohero .ubicacion p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--blanco);
}

.contenidohero .ubicacion svg {
    margin-bottom: 0.5rem;
}
.contenidohero .ubicacion {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* servicios */
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--obsuro);
    font-weight: normal;
    font-weight: bold;
}

.servicio p {
    line-height: 2;
    text-align: center;
    color: #000;
    font-weight: normal;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--secundario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#fb-wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 50px; /* espacio visual extra */
}

/** footer **/
.footer{
    text-align: center;
}
